@import "config";

/* 1024 - 1169 */
@media screen and (max-width: 1169px) {
    .header {
        .container {
            .menu {
                padding-right: 0;
                ul {
                    width: 530px;
                }
            }
        }
    }

    .owl-carousel {
        .owl-nav {
            .owl-prev {
                left: 0;
            }

            .owl-next {
                right: 0;
            }
        }
    }
}


/* 769 - 1023 */
@media screen and (max-width: 1023px) {
    .header {
        .container {
            flex-wrap: wrap;
            .menu {
                order: 1;
                flex-basis: 100%;
                place-items: center;
                ul {
                    width: 100%;
                    justify-content: space-evenly;
                }
            }
        }
    }

    .advantages {
        .advantages-items {
            .advantages-image {
                top: unset;
                align-self: center;
            }
        }
    }

    .owl-carousel {
        .owl-nav {
            width: 80px;
            position: unset;
            margin: 20px auto 0;
            transform: unset;
            img {
                width: 35px;
            }
        }
    }

    .promotion {
        .container {
            .promotion-items {
                grid-template: repeat(3, 140px) / repeat(2, minmax(290px, 1fr));
                .promotion-item {
                    &.promotion-3 {
                        grid-row-start: 3;
                        grid-row-end: span 1;
                        grid-column-start: 1;
                        grid-column-end: span 2;
                        flex-direction: row;
                        .promo-text {
                            .formular-18 {
                                padding: 10px 0 12px;
                            }
                            .formular-27 {
                                padding-bottom: 12px;
                            }
                        }
                        .promo-image {
                            left: 0;
                            bottom: -25px;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* 540 - 767 */
@media screen and (max-width: 767px) {
}


/* 425 - 539 */
@media screen and (max-width: 539px) {
}


/* 375 - 424 */
@media screen and (max-width: 424px) {
}


/* 320 - 374 */
@media screen and (max-width: 374px) {
}
