@import "config";

/* 1024 - 1169 */
@media screen and (max-width: 1169px) {
    .header {
        .container {
            .menu {
                padding-right: 0;

                ul {
                    width: 530px;
                }
            }
        }
    }

    .owl-carousel {
        .owl-nav {
            .owl-prev {
                left: 0;
            }

            .owl-next {
                right: 0;
            }
        }
    }
}


/* 769 - 1023 */
@media screen and (max-width: 1023px) {
    .header {
        .container {
            flex-wrap: wrap;

            .menu {
                order: 1;
                flex-basis: 100%;
                place-items: center;

                ul {
                    width: 100%;
                    justify-content: space-evenly;
                }
            }
        }
    }

    .advantages {
        .advantages-items {
            .advantages-image {
                top: unset;
                align-self: center;
            }
        }
    }

    .owl-carousel {
        .owl-nav {
            width: 80px;
            position: unset;
            margin: 20px auto 0;
            transform: unset;

            img {
                width: 35px;
            }
        }
    }

    .promotion {
        .container {
            .promotion-items {
                grid-template: repeat(3, 140px) / repeat(2, minmax(290px, 1fr));

                .promotion-item {
                    &.promotion-4 {
                        grid-row-start: 3;
                        grid-row-end: span 1;
                        grid-column-start: 1;
                        grid-column-end: span 2;
                        flex-direction: row;

                        .promo-text {
                            .formular-18 {
                                padding: 10px 0 12px;
                            }

                            .formular-27 {
                                padding-bottom: 12px;
                            }
                        }

                        .promo-image {
                            left: 0;
                            bottom: -25px;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* 630 - 767 */
@media screen and (max-width: 767px) {
    .advantages {
        .advantages-items {
            grid-template-columns: repeat(2, minmax(140px, 175px));
            justify-content: space-evenly;

            .advantages-image {
                grid-row-start: 3;
                grid-column-start: 1;
                grid-column-end: span 2;
            }
        }
    }
    .order {
        .container {
            .order-image-pepper {
                display: none;
            }
        }
    }
}


/* 425 - 629 */
@media screen and (max-width: 629px) {
    .header {
        .container {
            display: block;
            position: relative;

            .logo {
                margin: 0 auto;
            }
            .address {
                display: none;
            }

            .menu {
                display: none;
                background: black;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 20;
                .close-button {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 26px;
                }
                ul {
                    flex-direction: column;
                    gap: 30px;
                    padding: 60px 0 115px;
                }
            }

            .burger {
                display: block;
                position: absolute;
                top: 22px;
                right: 16px;
            }
        }
    }

    .about {
        .container {
            .section-title::after {
                content: '';
                .pepper-right();
            }
            div {
                padding-top: 30px;
            }
        }
    }

    .advantages {
        .section-title::after {
            content: unset;
        }
        .advantages-items {
            .advantages-image {
                left: 0;
            }
        }
    }

    .promotion {
        .container {
            .promotion-items {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .promotion-item {
                    height: 110px;
                    &.promotion-1 {
                        gap: 20px;
                        //.promo-image {
                        //    width: 85px;
                        //    img {
                        //        .width-100();
                        //    }
                        //    &:last-child {
                        //        width: initial;
                        //    }
                        //}
                        .promo-text {
                            font-family: "Trebuchet MS Bold", sans-serif;
                            font-size: 36px;
                        }
                    }
                    &.promotion-2 {
                        .promo-text {
                            z-index: 1;
                            .formular-27 {
                                font-size: 18px;
                                padding-top: 10px;
                            }
                            .trebuchet-18 {
                                font-size: 14px;
                            }
                        }
                        .promo-images {
                            transform: scale(0.9);
                            bottom: 0;
                        }
                    }
                    &.promotion-3 {
                        align-items: center;
                        .promo-image {
                            max-width: 95px;
                            order: 1;
                            img {
                                .width-100();
                            }
                        }
                        .promo-text {
                            align-self: auto;
                            .trebuchet-b-18 {
                                display: none;
                            }
                            .formular-27 {
                                padding-bottom: 0;
                            }
                            .trebuchet-b-40 {
                                font-size: 36px;
                            }
                        }
                    }
                    &.promotion-4 {
                        flex-direction: column;
                        .promo-text {
                            width: 95%;
                            .formular-18 {
                                display: none;
                            }
                            .formular-27 {
                                padding-top: 16px;
                                &::before {
                                    content: 'Набор ';
                                }
                            }
                            .trebuchet-b-40 {
                                display: flex;
                                justify-content: space-between;
                                .trebuchet-b-18 {
                                    display: none;
                                }
                            }
                        }
                        .promo-image {
                            width: 110%;
                            left: -15px;
                            bottom: 30px;
                            img {
                                .width-100();
                            }
                        }
                    }
                }
            }
        }
    }

    .order {
        .container {
            .order-container {
                .order-image-main {
                    display: none;
                }
            }
        }
    }

    .footer {
        .container {
            flex-direction: column;
            gap: 40px;
        }
    }
}


/* 375 - 424 */
@media screen and (max-width: 424px) {
    .section-title {
        font-size: 25px;
    }

    .about {
        padding-bottom: 100px;
    }

    .advantages {
        padding-bottom: 100px;
        .advantages-items {
            padding-top: 45px;
            grid-row-gap: 30px;
        }
    }

    .products {
        padding-bottom: 100px;
        .section-title {
            &::before {
                content: '';
                .pepper-left();
            }
        }
    }

    .reviews {
        padding-bottom: 100px;
        .section-title {
            &::before {
                content: unset;
            }
        }
    }

    .promotion {
        padding-bottom: 100px;
        .container {
            .promotion-items {
                .promotion-item {
                    &.promotion-1 {
                        .promo-image {
                            max-width: 95px;
                            img {
                                .width-100();
                            }
                        }
                    }
                }
            }
        }
    }

    .order {
        .container {
            .order-container {
                display: block;
                .order-form {
                    padding: 0;
                    text-align: center;
                    .flex-center();
                    flex-direction: column;
                }
            }
        }
    }

}


/* 320 - 374 */
@media screen and (max-width: 374px) {
    .about {
        .container {
            .section-title::after {
                width: 38px;
                right: -44px;
                background-size: contain;
            }
        }
    }

    .products {
        .container {
            .section-title::before {
                width: 30px;
                background-size: contain;
                left: -47px;
            }
        }
    }
}
