@text-main-color: white;
@background-color: #080707;
@main-label-color: #ec1a0f;
@shadow-color: #5D0600;

.width-100 {
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font-size-0 {
    font-size: 0;
}

.button(@width, @height, @font-size) {
    width: @width;
    height: @height;
    background: linear-gradient( 17deg, rgb(196,9,0) 0%, rgb(207,69,0) 75%, rgb(218,128,0) 100%);
    border: 0;
    border-radius: 10px;
    color: @text-main-color;
    font-size: @font-size;
    transition: all 400ms;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 5px 9px 1px @darkred-color-3;
    }
}

.section-title {
    font-family: "Formular Bold";
    font-size: 36px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: end;
}








@pink-color-1:  #eba8b1;
@pink-color-2:  #c0707c;
@pink-color-3:  rgb(227, 172, 180);
@lightpink-color: #ffefef;
@darkred-color-1: rgb(119, 11, 29);
@darkred-color-2: rgb(130, 19, 40);
@darkred-color-3: rgba(130, 19, 40, 0.5);
@white-color: rgb(255, 255, 255);
@dark-braun-color: rgb(51, 25, 7);
@black-color: rgb(18, 10, 6);
@red-color: red;
@gradient-start: rgb(113,8,30);
@gradient-end: rgb(215,72,92);

.bg-pink {
    background: @pink-color-1;
}

.bg-lightpink {
    background: @lightpink-color;
}

