@text-main-color: white;
@background-color: #080707;
@main-label-color: #ec1a0f;
@shadow-color: #5D0600;
@darkred-color-3: rgba(130, 19, 40, 0.5);
@red-color: red;

.width-100 {
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font-size-0 {
    font-size: 0;
}

.button(@width, @height, @font-size) {
    width: @width;
    height: @height;
    background: linear-gradient( 17deg, rgb(196,9,0) 0%, rgb(207,69,0) 75%, rgb(218,128,0) 100%);
    border: 0;
    border-radius: 10px;
    color: @text-main-color;
    font-size: @font-size;
    transition: all 400ms;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 5px 9px 1px @darkred-color-3;
    }
}

.section-title {
    font-family: "Formular Bold", sans-serif;
    font-size: 36px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: end;
}

.img-shadow(@blur, @spread, @color) {
    position: relative;
    &::before {
        content: '';
        width: 50%;
        height: 50%;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 @blur @spread @color;
        z-index: 1;
    }
    img {
        position: relative;
        z-index: 2;
    }
}

.pepper-right {
    background: url('../../assets/images/peppers/pepper_1.png') no-repeat;
    background-position-y: center;
    width: 60px;
    height: 87px;
    position: absolute;
    right: -79px;
}

.pepper-left {
    background: url('../../assets/images/peppers/pepper_2.png') no-repeat;
    background-position-y: center;
    width: 53px;
    height: 60px;
    position: absolute;
    left: -73px;
}
