@import "config";
@import "loader";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Formular Bold";
    src: url("../../assets/fonts/formular-bold.ttf");
}

@font-face {
    font-family: "Trebuchet MS Regular";
    src: url("../../assets/fonts/trebuchet-regular.ttf");
}

@font-face {
    font-family: "Trebuchet MS Bold";
    src: url("../../assets/fonts/trebuchet-bold.ttf");
}


body {
    background-color: @background-color;
    background-image: url("../../assets/images/background.png");
    background-position: center;
    color: @text-main-color;
    font-family: "Trebuchet MS Regular";
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}


/* HEADER */
.header {
    padding: 10px 0;
    .container {
        .flex-between();
        .logo {
            width: 87px;
            .font-size-0();
            img {
                .width-100();
            }
        }
        .menu {
            padding-right: 95px;
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                width: 630px;
                li {
                    padding-right: 40px;
                    a {
                        border-bottom: 2px solid transparent;
                        padding-bottom: 3px;
                        font-size: 16px;
                        text-decoration: none;
                        color: @white-color;
                        &:hover {
                            border-color: inherit;
                        }
                    }
                }
            }
        }
        .address {
            .flex-between();
            .address-icon {
                width: 26px;
                margin-right: 22px;
                img {
                    .width-100();
                }
            }
            .address-text {
                font-size: 14px;
            }
        }
    }
}

.burger {
    position: relative;
    width: 40px;
    height: 2px;
    background: @white-color;
    display: none;
    &::before, &::after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background: inherit;
    }
    &::before {
        top: -10px;
    }

    &::after {
        top: 10px;
    }
}

.close {
    display: none;
}


/* MAIN */
.main {
    padding-top: 125px;
    .container {
        .flex-between();
        position: relative;
        .main-info {
            flex-shrink: 0;
            max-width: 670px;
            h1 {
                padding-bottom: 50px;
                font-size: 60px;
                line-height: 65px;
                letter-spacing: -0.02em;
                font-family: "Formular Bold";
            }
            & > p {
                font-size: 18px;
                line-height: 1.611;
                padding-bottom: 37px;
                max-width: 500px;
            }
            .button-main {
                .button(271px, 61px, 18px);
                margin-bottom: 125px;
            }
            .main-advantages {
                .flex-between();
                max-width: 600px;
                .main-advantages-item {
                    .flex-between();
                    width: 275px;
                    .main-advantages-item-text {
                        font-size: 14px;
                        line-height: 1.357;
                        width: 180px;
                    }
                }
            }
        }
        .main-burger {
            position: relative;
            left: -40px;
            flex-shrink: 0;
            .main-burger-image {
                img {
                    width: 100%;
                }
                &::before {
                    content: '';
                    background: url("../../assets/images/fire.png") no-repeat;
                    width: 100%;
                    height: 200%;
                    position: absolute;
                    bottom: -280px;
                    left: 20px;
                    z-index: -2;
                }
                &::after {
                    content: '';
                    box-shadow: 0 0 220px 200px black;
                    width: 1px;
                    height: 1px;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    z-index: -1;
                }
            }
            .main-burger-label {
                .flex-center();
                width: 100px;
                height: 100px;
                background-color: @main-label-color;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                top: -85px;
                right: 127px;
            }
            .main-burger-price {
                position: absolute;
                right: 66px;
                top: 0;
                display: flex;
                flex-direction: column;
                text-align: right;
                gap: 9px;
                .new-price {
                    font-family: "Trebuchet MS Bold";
                    font-size: 24px;
                }
                .old-price {
                    font-size: 16px;
                    text-decoration: line-through;
                }
            }
            .main-burger-details {
                position: absolute;
                right: 86px;
                bottom: -61px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 250px;
                h4 {
                    font-family: "Formular Bold";
                    font-size: 25px;
                }
                p {
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }
    }
    &::before {
        content: '';
        background: url("../../assets/images/fire_background.png") no-repeat;
        background-position-x: center;
        width: 100%;
        height: 200%;
        position: absolute;
        top: 0;
        z-index: -3;
    }
}


/* ABOUT */
.about {
    padding-top: 173px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-family: "Formular Bold";
        font-size: 36px;
        padding-bottom: 20px;
    }
    p {
        font-size: 14px;
        line-height: 17px;
        padding-top: 20px;
        max-width: 550px;
    }
    div {
        padding-top: 9px;
        img {
            filter: drop-shadow(0 0 40px #5D0600);
        }
    }
}


/* ADVANTAGES */
.advantages {
    .bg-lightpink();
    padding: 119px 0 120px;
    .advantages-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 88px;
        .advantages-description {
            h2 {
                font-size: 45px;
                color: @dark-braun-color;
                line-height: 1.222;
                max-width: 488px;
                padding-bottom: 60px;
            }
            p {
                font-size: 18px;
                font-family: "Gilroy Regular";
                color: @dark-braun-color;
                line-height: 1.556;
                max-width: 400px;
            }
        }
        .advantages-image {
            img {
                max-width: 100%;
            }
        }
    }
    .advantages-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, 220px);
        grid-gap: 80px min(30px);
        justify-content: space-between;
        .advantages-item {
            &:hover .advantages-item-number {
                background: @pink-color-1;
                color: @darkred-color-2;
            }
            .advantages-item-number {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                border-radius: 50%;
                background-color: @darkred-color-2;
                width: 70px;
                height: 70px;
                font-size: 60px;
                font-family: "Gilroy ExtraBold";
                color: @white-color;
                line-height: 44px;
                transition: all 400ms;
            }
            .advantages-item-title {
                padding-top: 13px;
                padding-bottom: 20px;
                font-size: 20px;
                font-family: "Gilroy ExtraBold";
                color: @dark-braun-color;

            }
            .advantages-item-text {
                font-size: 15px;
                font-family: "Gilroy Medium";
                color: @dark-braun-color;
                line-height: 1.333;
            }
        }
    }
}


/* PRODUCT */
.products {
    .bg-pink();
    padding: 120px 0 100px;
    .container {
        text-align: center;
        h2 {
            font-size: 45px;
            color: @white-color;
            padding-bottom: 143px;
        }
        .product-items {
            display: grid;
            grid-template-columns: repeat(auto-fill, 263px);
            grid-gap: 136px 29px;
            justify-content: center;
            .product {
                border: 2px solid @white-color;
                border-radius: 20px;
                padding: 0 19px 25px;
                .product-image {
                    height: 61px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    padding-bottom: 47px;
                    transition: all 400ms;
                }
                h3 {
                    font-size: 18px;
                    color: @white-color;
                    padding-bottom: 26px;
                }
                .product-details {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        font-size: 15px;
                        font-family: "Gilroy Regular";
                        color: @white-color;
                        display: block;
                        text-align: left;
                        &:first-child {
                            padding-bottom: 16px;
                        }
                    }
                    .button-product {
                        .button(130px, 50px, 14px);
                    }
                }
                &:hover .product-image {
                    transform: scale(1.1);
                }
            }
        }
    }
}


/* ORDER */
.order {
    .bg-lightpink();
    .container {
        padding-top: 98px;
        padding-bottom: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        position: relative;
        .order-image-main {
            justify-self: center;
            align-items: center;
            img {
                max-width: 100%;
            }
        }
        .order-form {
            padding-left: 15px;
            h2 {
                font-size: 45px;
                color: @dark-braun-color;
                padding-bottom: 41px;
            }
            p {
                font-size: 18px;
                font-family: "Gilroy Regular";
                color: @dark-braun-color;
                line-height: 1.556;
                padding-bottom: 23px;
                max-width: 405px;
            }
            h3 {
                font-size: 18px;
                font-family: "Gilroy Bold";
                color: @black-color;
                padding-top: 25px;
                padding-bottom: 21px;
            }
            input {
                display: block;
                font-size: 15px;
                font-family: "Gilroy Bold";
                color: @darkred-color-1;
                border: 1px solid @darkred-color-2;
                border-radius: 9999px;
                width: 294px;
                height: 60px;
                padding: 22px 26px;
                box-sizing: border-box;
                outline: none;
                &::placeholder {
                    color: @pink-color-2;
                }
            }
            .error-input {
                color: @red-color;
                visibility: hidden;
                padding: 5px 0 10px 25px;
            }
            .button-order {
                .button(294px, 60px, 14px);
                margin-top: 15px;
            }
        }
        .order-image-berry {
            position: absolute;
            animation: berry-move infinite ease-in-out alternate;
        }
        #berry-1 {
            top: 142px;
            animation-duration: 2s;
        }
        #berry-2 {
            bottom: 195px;
            right: 160px;
            animation-duration: 3s;
        }
        .success-block {
            border: 1px solid @darkred-color-2;
            border-radius: 20px;
            color: @darkred-color-1;
            font-size: 25px;
            line-height: 1.5;
            display: flex;
            justify-content: center;
            align-items: center;
            background: @white-color;
            text-align: center;
            padding: 60px 30px;
            box-sizing: border-box;
        }
    }
}


/* FOOTER */
.footer {
    background: @pink-color-2;
    padding: 73px 0 62px;
    .container {
        display: grid;
        grid-template: repeat(2, auto) / repeat(3, auto);
        justify-content: space-between;
        align-items: center;
        .rights {
            font-size: 12px;
            font-family: "Gilroy Regular";
            color: @pink-color-3;
            order: 4;
        }
        .instagram {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-area: 1 / 2 / 3 / 2;
            svg {
                width: 35px;
                height: 35px;
                fill: @white-color;
                padding-bottom: 15px;
                &:hover {
                    cursor: pointer;
                }
            }
            span {
                font-size: 16px;
                font-family: "Gilroy Bold";
                color: @white-color;
            }
        }
        .contacts {
            grid-area: 1 / 3 / 3 / 3;
        }
    }
}


/* PRESENT */
.present {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 0;
    z-index: 1;
    .present-circle {
        border-radius: 50%;
        background: radial-gradient(@gradient-start, @gradient-end);
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 9px;
        &:hover {
            box-shadow: 0px 0px 13px 2px @darkred-color-3;
            cursor: pointer;
        }
        &:hover + .present-label {
            transform: unset;
            opacity: 1;
        }
    }
    .present-label {
        width: 172px;
        height: 64px;
        border-radius: 10px;
        position: relative;
        padding: 15px 0 14px 11px;
        box-sizing: border-box;
        background: @lightpink-color;
        border: 2px solid @darkred-color-1;
        margin-right: 8px;

        font-size: 15px;
        font-family: "Gilroy Medium";
        color: @darkred-color-1;
        line-height: 1;

        transform: translateY(120px);
        opacity: 0;
        transition: all 600ms;
        &::before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            left: 100%;
            top: calc(50% - 10px);
            border-top: 10px solid transparent;
            border-left: 14px solid @darkred-color-1;
            border-bottom: 10px solid transparent;
        }
        &::after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            left: 100%;
            top: calc(50% - 7.5px);
            border-top: 7.5px solid transparent;
            border-left: 10.6px solid @lightpink-color;
            border-bottom: 7.5px solid transparent;
        }
    }
}


/* ANIMATIONS */
@keyframes pulse {
    from {
        transform: scale(0.2);
    }

    50% {
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes berry-move {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(20px);
    }
}

@import "adaptive";